$primary-color: #fe538d;
$secondary-color: #ffb703;
$text-color: #333;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: 'Rubik', sans-serif;
    color: $text-color;
}

header {
    nav {
        .nav-link {
            font-size: 1em;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 500;
            margin-left: 20px;
        }
        .logoText {
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 500;

        }
        .logoImage {
            max-height: 36px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    
}


footer {
    background-color: #222725;
    color: white;
}

